*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background:url("../image/bg.png");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
body {
    display: flex;
    justify-content: flex-start;
    height: 70vh;
    flex-direction: column;
    align-items: left;
    margin: 70px 0 0 350px;
    font-family: monospace;
    
}

h1{
    color: #333; 
    margin: 25px 0 ;

}
input {
    margin-bottom: 14px;
    padding: 10px;
    border: none; 
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    transition: border-color 0.3s;
    outline: none;
}

input:focus {
    border-bottom: 2px solid #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 14px 25px;  
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}